/* --------------------------------------- DESKTOP --------------------------------------- */

/* --------------------------------------- page --------------------------------------- */

body {
    font-family: 'Raleway';
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

p {
    line-height: 1.04;
    margin:0;
}

strong {
    color: #64745d;
}

/* --------------------------------------- header --------------------------------------- */

.header {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.6s ease;
    padding: 0 5dvw 0 5dvw;
    gap:5dvh;
    line-height:100%
}

.header.scrolled {
    height: 10dvh;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(168, 180, 164);
    padding:0 5dvw 0 5dvw;
    gap:0;
}

.header_left {
    display: flex;
    flex-direction: column;
    height:70%;
    gap:5%;
}

.header.scrolled .header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5rem;
}

.photo_div {
    width:100%;
    height:70%;
}

.header.scrolled .photo_div{
    width:auto;
    height:auto;
}

.photo {
    display:block;
    width:fit-content;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.header.scrolled .photo{
    width:10dvw;
    height:8dvh;
}

.name {
    display: flex;
    font-size: clamp(1.5rem, 2.5dvw, 3dvw);
    color: #74876c;
    text-shadow: 2px 2px 0px rgb(168, 180, 164);
    justify-content: center;
    height:20%;
}

h1 {
    margin:0;
}

.header.scrolled .name {
    font-size: clamp(0.75rem, 1.25dvw, 2dvw);
    
}

.job {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 2.5dvw, 3dvw);
    filter: opacity(70%);
    font-style: bold;
    height:10%;
    text-align: center;
    line-height: 10dvh;
}

.header.scrolled .job {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
}

.contact-list {
    display: flex;
    gap:1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding:0;
}

.contact-logo {
    transition: transform 0.3s ease, filter 0.3s ease;
    width: clamp(3rem, 4.5rem, 5rem);
}

.header.scrolled .contact-logo {
    width: clamp(2rem, 3rem, 4rem);
}

.contact-logo:hover,
.contact-logo:focus {
    transform: scale(1.25);
}

/* --------------------------------------- webpage --------------------------------------- */

.webpage{
    margin: 30dvh 5dvw 5dvh 5dvw;
}

/* --------------------------------------- title --------------------------------------- */

.section-title {
    display:flex;
    font-size: clamp(2.5rem, 3.5rem, 6rem);
    font-weight: bold;
    color: #74876c;
    text-shadow: 2px 2px 0px rgb(168, 180, 164);
    margin-bottom: 6rem;
}

/* --------------------------------------- group section --------------------------------------- */

/* modify each group section */

.group {
    display: grid;
    grid-template-columns: 5dvw 40dvw auto;
    grid-template-rows: auto auto;
    row-gap: 2rem;
    column-gap: 3dvw;
    margin-bottom: 3rem;
}

.group-logo {
    display: block;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    transition: transform 0.6s ease, filter 0.3s ease;
    filter: grayscale(100%);
}

.group-logo:hover,
.group-logo:focus {
    filter: none;
    transform:scale(1.05);
}

.group-info {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    font-size: clamp(1.5rem, 1.5rem, 3.5rem);
    transition: transform 0.6s ease, padding 0.3s;
}

.group-info:hover {
    background-color: rgb(204, 216, 200);
    border-radius: 12px;
    padding-left: 1rem;
}

.group-name {
    font-weight: bold;
    color: #64745d;
}

.group-contract {
    font-style: normal;
}

.group-time {
    font-style: italic;
    filter: opacity(70%);
}

.group-container {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggle-group-projects {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.toggle-group-projects img {
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
}

.toggle-group-projects.collapsed img {
    transform: rotate(-90deg); /* Flèche vers la droite quand collapsed */
}

.toggle-group-projects:not(.collapsed) img {
    transform: rotate(0deg); /* Flèche vers le bas quand ouvert */
}

.group-projects {
    grid-column: 2 / 4;
    grid-row: 2;
    max-height: 5000px;
    opacity: 1;
    background: transparent;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.group-projects.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

/* modify each project of the group sections */

.project {
    display: grid;
    grid-template-columns: 17% 80%;
    grid-template-rows: auto auto;
    row-gap: 2vh;
    column-gap: 3%;
    margin-bottom: 2rem;
    overflow: visible;
}

.project-logo {
    display: block;
    grid-column: 1;
    grid-row: 1;
    border-radius: 8px;
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);
}

.project-info {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(1.25rem, 1.25rem, 3.25rem);
    filter: grayscale;
}

.project-name {
    font-weight: bold;
}

.project-participation {
    font-style: normal;
}

.project-time {
    font-style: italic;
    filter: opacity(70%);
}

.project-expertise {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 0.8rem, 2rem);
}

.project-pipeline,
.project-software,
.project-skill {
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid;
    border-color: #74876c;
}

.project-pipeline {
    background-color: rgb(204, 216, 200);
}

.project-skill {
    border: 1px solid;
    border-color: #74876c;
}

.project-pipeline:hover,
.project-software:hover,
.project-skill:hover,
.active-filter {
    background: #74876c;
    color: #fff;
    font-weight: bold;
    outline: none;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
}

.project:hover .project-logo {
    filter: none;
}

.project:hover .project-name {
    color: #64745d;
}

/* --------------------------------------- MOBILE --------------------------------------- */

@media screen and (max-width:1250px) {

    /* --------------------------------------- header --------------------------------------- */

 /* --------------------------------------- title --------------------------------------- */

    .section-title {
    justify-content: center;
    }   

    /* --------------------------------------- group section --------------------------------------- */

    /* modify each group section */

    .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #64745d;
    border-radius: 12px;
    padding:2rem;
    text-align: center;
    }

    .group-logo {
    width: 25dvw;
    filter:none;
    }

    .group-info:hover {
    padding: 0.5rem;
    }

    /* modify each project of the group sections */

    .project {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    
    }

    .project-logo {
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: none;
    }

    .project-info {
    filter: none;
    }

    .project-name {
    color: #64745d;
    }

    .project-expertise {
    display:none;
    }

    /* back to top button */
    .button--back-to-top {
    right:0.7rem;
    bottom:0.7rem;
    }

}



