/* --------------------------------------- DESKTOP --------------------------------------- */

/* --------------------------------------- page --------------------------------------- */

body {
    font-family: 'Raleway';
}

p {
    margin-bottom: 0%;
    line-height: 1.04;
}

strong {
    color: #64745d;
}

/* --------------------------------------- header --------------------------------------- */

.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    place-items: center;
    align-content: center;
    gap: 8vh;
    height: 100dvh
}

.photo {
    width: clamp(15rem, 20vw, 30rem);
}

.intro {
    text-align: center;
    line-height: 0.76;
}

.name {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: bold;
    color: #74876c;
    text-shadow: 2px 2px 0px rgb(168, 180, 164);
}

.text-intro {
    font-size: clamp(1rem, 1.5vw, 2rem);
    filter: opacity(70%);
    font-style: italic;
}

.contact-list {
    display: flex;
    padding: 0rem;
    list-style: none;
    gap: clamp(1rem, 1.5vw, 2.5rem);
    justify-content: center;
}
.contact-logo{
    transition: transform 0.3s ease, filter 0.3s ease;
}
    .contact-logo:hover,.contact-logo:focus {
        transform: scale(1.25);
    }
    
.contact-logo {
    width: clamp(3rem, 4vw, 6rem);
}

/* --------------------------------------- sections --------------------------------------- */
    .section-title {
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: bold;
        margin: 5dvh 0%;
        text-align: center;
        color: #74876c;
        text-shadow: 2px 2px 0px rgb(168, 180, 164);
    }

/* --------------------------------------- resume section --------------------------------------- */

/* modify all the resume */

.resume-sections {
    display: grid;
    grid-template-columns: 61% 39%;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    margin: 0 4vw 4vh 4vw;
}

/* modify the main resume module */

.main-resume-module {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    font-size: clamp(0.75rem, 0.88vw, 1.5rem);
    padding: 1vw;
    border: 2px solid #74876c;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
    .main-resume-module:hover,.main-resume-module:focus {
            transform: scale(1.05);
            background-color: #d1dbc8;
            position: relative;
            z-index: 10;
        }

.main-resume-logo-link {
    grid-column: 1;
    grid-row: 1;
}
    .main-resume-logo {
        width: clamp(3rem, 4vw, 7rem);
        transition: transform 0.3s ease, filter 0.3s ease;
        filter: grayscale(100%);
    }
        .main-resume-logo:hover,.main-resume-logo:focus {
            transform: scale(1.07);
            filter: none;
        }
.main-resume-content {
    grid-column: 1;
    grid-row: 2;
    text-align: justify;
}

.main-resume-projects {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.project-title {
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    margin: 0rem;
}

    .project-logo {
        border-radius: 8px;
        width: clamp(10rem, 9vw, 16rem);
        transition: transform 0.3s ease, filter 0.3s ease;
        filter: grayscale(100%);
    }
        .project-logo:hover,.project-logo:focus {
            transform: scale(1.15);
            filter: none;
        }

/* modify the derivates resume modules  */

.derivate-resume-module-1,.derivate-resume-module-2 {
    font-size: clamp(0.75rem, 0.7vw, 1rem);
    border: 2px solid #74876c;
    border-radius: 8px;
    padding: 0.5vw;
    text-align: justify;
    transition: transform 0.3s ease, filter 0.3s ease;
}
    .derivate-resume-module-1:hover,.derivate-resume-module-1:focus,.derivate-resume-module-2:hover,.derivate-resume-module-2:focus {
            transform: scale(1.05);
            background-color: #d1dbc8;
            position: relative;
            z-index: 10;

    }

.derivate-resume-module-1 {
    grid-row: 1;
    grid-column: 2;
}

.derivate-resume-module-2 {
    grid-row: 2;
    grid-column: 2;
}

.derivate-resume-logo {
    width: clamp(1.5rem, 2.5vw, 3.5rem);
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}
    .derivate-resume-logo:hover,.derivate-resume-logo:focus {
        transform: scale(1.07);
        filter: none;
    }

/* --------------------------------------- skills section --------------------------------------- */

.skill-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 0 4vw 4vh 4vw;
    gap: 5px;
}

.skill-module {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 30% auto;
    border: 2px solid #74876c;
    border-radius: 8px;
    padding: clamp(1rem, 1.5vw, 2rem);
    transition: transform 0.3s ease, filter 0.3s ease;
    font-size: clamp(0.75rem, 0.88vw, 1.5rem);
}

    .skill-module:hover,.skill-module:focus {
        transform: scale(1.07);
        background-color: #d1dbc8;
        z-index:10;
    }

.skill-title {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: bold;
    color: #74876c;
    align-self: center;
}

.skill-list {
    ;
}

/* --------------------------------------- MOBILE --------------------------------------- */

@media screen and (max-width:1200px) {
    /* --------------------------------------- resume --------------------------------------- */
    /* modify the main resume module */

    .resume-sections {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 1vh;
    }

    .main-resume-module {
        grid-row: 1;
        row-gap: 6vw;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 8vw;
        place-items: center;
    }
        .main-resume-module:hover,
.main-resume-module:focus {
                z-index: 10;
                font-size: clamp(1rem, 2vw, 3rem);
            }

    .main-resume-logo {
        width: clamp(5rem, 8vw, 10rem);
    }

    .main-resume-content {
        text-align: center;
    }

    .main-resume-projects {
        grid-column: 1;
        grid-row: 3;
    }
        .main-resume-module:hover .project-title,
.main-resume-module:focus .project-title {
            z-index: 10;
            font-size: clamp(1rem, 2vw, 3rem);
        }

    .project-logo {
        filter:none;
    }

/* modify the derivates module resume */

    .derivate-resume-module-1,.derivate-resume-module-2 {
        padding: 8vw;
        row-gap: 7vw;
        text-align: center;
    }

    .derivate-resume-module-1:hover,.derivate-resume-module-1:focus,.derivate-resume-module-2:hover,.derivate-resume-module-2:focus {
        z-index: 10;
        font-size: clamp(1rem, 2vw, 3rem);
    }

    .derivate-resume-module-1 {
        grid-row: 2;
        grid-column: 1;
    }

    .derivate-resume-module-2 {
        grid-row: 3;
        grid-column: 1;
    }

    .derivate-resume-logo {
        width: clamp(5rem, 8vw, 10rem);
        filter:none;
    }

/* modify all the skill section (responsive) */

.skill-section {
    display: flex;
    overflow-x: auto; /* Permet le scroll horizontal (swipe sur mobile) */
    scroll-snap-type: x mandatory; /* Active l'alignement lors du scroll */
    -webkit-overflow-scrolling: touch; /* Ajoute l'inertie du scroll sur iOS */
    column-gap: 1vw;
}
    .skill-module {
        scroll-snap-align: center; /* Centre chaque module lors du scroll (snap) */
        flex: 0 0 80vw;
    }
        .skill-module:hover,
        .skill-module:focus {
            font-size: clamp(1rem, 2vw, 3rem);
            transform: scale(1);
        }
            .skill-module:hover .skill-title, .skill-module:focus .skill-title {
                font-size: clamp(1.25rem, 1.25vw, 1.75rem);
            }

    .skill-dots {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
        .dot {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: #d1dbc8;
            display: inline-block;
        }
            .dot.active {
                background: #74876c;
            }
}